@import 'Variables';


div.article {
    padding: 0px;
}

.article-content {
    margin: 0px;
}

.TMO {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
    max-width: 1800px;

    h2 {
        font-size: 28px;
        margin: 0.8em 0;
        font-weight: 300;

    }

    .full_width {
        width: 100%;
    }

    .flex {
        display: flex;
        
        .flex_50 {
            flex: 50%;
            padding-right: 5px;
        }

        .flex_100 {
            flex: 100%;
            padding-bottom: 5px;
        }

        .flex_col {
            flex-direction: column;
        }

        .flex_row {
            flex-direction: row;
            width: 100%;
        }

        .flex_25 {
            flex: calc(25% - 10px);          
            padding: 5px;
        }

        .flex_10 {
            flex: 10%;
            padding: 5px;
        }

    }

    .home_banner {
        background-image: url('../images/home.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }

    .leader_img {
        background-image: url('../images/leadership.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 405px;
    }

    .enabler_img, .transformational_leadership {
        background-image: url('../images/enabler.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
    }

    .execution_img , .change_ability{
        background-image: url('../images/execution.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
    }

    .card {
        position: relative;
        cursor: pointer;

        .title {
            position: absolute;
            width: calc(100% - 40px);
            background-color: rgba(0, 0, 0, 0.2);
            color: #fff;
            bottom: 0px;
            padding: 20px;
            transition: background 0.5s ease;
        }

        &:hover {
            .title {
                background-color: $brand;
            }

        }
    }

    .leader_banner {
        background-image: url('../images/leadership.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 405px;
    }

    #title {
        color: #fff;

    }

    .enabler {
        background-image: url('../images/enabler.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
    }

    .execution {
        background-image: url('../images/execution.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
    }

    .panel {
        position: relative;
        cursor: pointer;
      
        .item {
            position: absolute;
            width:calc(100% - 39px);
            bottom: 0px;
            background-color: rgba(0, 0, 0, 0.2);
            color: $text_color;
            transition: background 0.5s ease;
            padding: 20px;
        }

        &:hover {
            .item {
                background-color: $brand;
            }

        }
    }

    .enabler_banner {
        background-image: url('../images/enabler.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
    #des {
        position: relative;
        align-items: flex-end;
        top: -70px;              
        margin-left: 20px;
        color: $text_color;
        font-weight: 200;
    }
    #des2 {
        color: #03787C;
    }
    p span {
        display: block;
    }
    #wrap{
        flex-wrap: wrap;    
    }
    #content{
        position: relative;
        bottom: 100px;
        
    }
    #contact{
        position: relative;
        bottom: 100px;
        
    }
    h1{
        color: $h2_color;
    }
}